<!-- Setting the base url for all links on this page -->
<base href="/">

<meta charset="UTF-8">
<meta name="author" content="Skyler W. Belser" />

<title><%= title %></title>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>

<!-- Foundation -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>

<!-- My Styling -->
<!--<link rel="stylesheet" type="text/css" href="/pageStyle.css" />-->
<link rel="stylesheet" type="text/css" href="/style/core-style.css" />
<link rel="stylesheet" type="text/css" href="/style/cardEffects.css" />

<!-- Core Scripts -->
<script src="scripts/deckbuilder.js"></script>
<script src="scripts/core-script.js"></script>
