<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">H-Stone</li>
      <li>
        <a href="/">Home</a>
        <ul class="menu vertical">
          <li><a href="/">Home</a></li>
          <li><a href="/find">Find</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </li>
      <li><a href="/find">Find</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>