

* {
    transition-duration: .2s;
}

body {
    background: #212121;
}

p {
/*    color: #f1f1f1;*/
}

h1 {
/*    color: #f1f1f1;*/
}

.infoSet{
    background-color: #424242;
}

.menu-text {
    color: #212121;
}

label {
    color: #f1f1f1;
}

.top-bar {
    background-color: #424242;
}

.menu > li{
    background-color: #424242;
}

ul {
/*    color: white;*/
}

body {
/*    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.)), url(imgs/class_background/warrior_bg.jpg);*/
    background-color: #f1f1f1;
    background-image: url(../imgs/background.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

footer {
    background: #A1A1A1;
}

footer:hover {
    background: white;
}

.row {
    background: #f1f1f1;
}