<!DOCTYPE HTML>
<html class="no-js" lang="en">
    <head>
        <% include partials/header.ejs %>
    </head>

    <body>
        <% include partials/nav.ejs %>
        
        <div class="row">
            <div class="large-12 columns">
                <h1>Card Show Page</h1>
            </div>
        </div>
        
        <%- include("partials/card.ejs",{cardSet:"Basic"}) %>
        
<!--        <%- include("partials/card.ejs",{cardSet:"Classic"}) %>-->
<!--        <%- include("partials/card.ejs",{cardSet:"Naxxramas"}) %>-->
        
<!--        <%= JSON.stringify(info) %>-->
        
    </body>
</html>