<!DOCTYPE HTML>
<html ng-app="hstone" class="no-js">
    <head>
        <% include partials/header.ejs %>
    </head>
    
    <body ng-controller="mainController">
        
        <% include partials/modals.ejs %>
        
        <% include partials/nav.ejs %>
        
        <div ng-view></div>
        
        <% include partials/footer.ejs %>
        
    </body>
</html>