<!DOCTYPE HTML>
<html ng-app="hstone" class="no-js">
    <head>
        <% include partials/header.ejs %>
    </head>
    
    <body ng-controller="mainController">     
        
        <a href='#!' class="button">cardSearch</a>
        <a href='#!/buildme' class="button">current Deck</a>
        <a href='#!/decks' class="button">Decks</a>
        
        <% include partials/modals.ejs %>
        
        <% include partials/nav.ejs %>
        
        <div ng-view></div>
    
    </body>
</html>