<!DOCTYPE HTML>
<html ng-app class="no-js">
    <head>
        <% include partials/header.ejs %>
    </head>
    
    <body>
        <% include partials/nav.ejs %>
        
        <div class="row">
            <div class="large-12 columns">
                <h1>Welcome to H-Stone</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="small-6 columns">
                <label>Name:</label>
                <input type="text" ng-model="yourName" placeholder="Enter a name here">
<!--                <hr>-->
            </div>
            <div class="small-6 columns">
                <p>Hello {{yourName}}</p>
            </div>
        </div>    
        
        <div class="row">
            <div class="small-6 columns">
                <input type="text" ng-model="yourImage" placeholder="Put Image Url here">
            </div>
            
            <div class="small-6 columns">
                <img src={{yourImage}}>
            </div>
        </div>
    
    </body>
</html>