<!DOCTYPE HTML>
<html ng-app="hstone" class="no-js">
    <head>
        <% include partials/header.ejs %>
    </head>
    
    <body ng-controller="mainController">
        <% include partials/nav.ejs %>

        <div class="button-group">
            <a class="button">Primary Action</a>    
            <a class="dropdown button arrow-only">
                <span class="show-for-sr">Show menu</span>
            </a>
            
            <a class='dropdown button arrow-only' type='button' data-toggle='exampleDropdown'>
                <span class="show-for-sr">Show menu</span>
            </a>
        </div>        
        
        <div class='dropdown-pane bottom' id='exampleDropdown' data-dropdown>
            <ul class="menu">
                <li><a href='#'>Stop</a></li>
                <li><a href='#'>Go</a></li>
                <li><a href='#'>Going places</a></li>
            </ul>
        </div>
        
            
        <div class="row">
            <div class="large-12 columns">
                <p>{{page.title}}</p>
            </div>
        </div>
        
        <div class="infoSet callout">
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <img src={{page.image}} >
                </div>

                <div class="large-6 medium-6 columns">
                    <ul>
                        <li>Name:           {{page.cardName}}</li>
                        <li>Type:           {{page.cardType}}</li>
                        <li>Player Class:   {{page.cardClass}}</li>
                        
                        <li>Race:           {{page.cardRace}}</li>
                        <li>Cost:           {{page.cardCost}}</li>
                        <li>Health:         {{page.cardHealth}}</li>
                        
                        <li>Attack:         {{page.cardAttack}}</li>
                        <li>Flavor:         {{page.cardFlavor}}</li>
                        <li>Set:         {{page.cardSet}}</li>

                    </ul>
                </div>
            </div>
        </div>
                
        <div class="row">
            <div class="small-6 columns">
                <label>Name:</label>
                <input type="text" ng-model="yourName" placeholder="Enter a name here">
                <hr>
            </div>
            <div class="small-6 columns">
                <p>Hello {{yourName}}</p>
            </div>
        </div>    
        
        <div class="row">
            <div class="small-6 columns">
                <input type="text" ng-model="yourImage" placeholder="Put Image Url here">
            </div>
            
            <div class="small-6 columns">
                <img src={{yourImage}}>
            </div>
        </div>
    
    </body>
</html>