/*

* {
    color: #f1f1f1;
}

body {
    background: #212121;
}

p {
    color: #f1f1f1;
}

h1 {
    color: #f1f1f1;
}

.infoSet{
    background-color: #424242;
}

.menu-text {
    color: #212121;
}

label {
    color: #f1f1f1;
}

.top-bar {
    background-color: #424242;
}

.menu > li{
    background-color: #424242;
}

ul {
    color: white;
}*/

body {
/*    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.)), url(imgs/class_background/warrior_bg.jpg);*/
    background-color: #f1f1f1;
    background-image: url(imgs/class_background/shaman_bg.jpg);
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}