<!--
<div class="infoSet callout">
    <div class="row">
        <div class="large-6 medium-6 columns">
            <img src={{page.image}} ng-click="addToDeck(page.cardName)">
        </div>

        <div class="large-6 medium-6 columns">
            <ul>
                <li>Name:           {{page.cardName}}</li>
                <li>Type:           {{page.cardType}}</li>
                <li>Player Class:   {{page.cardClass}}</li>

                <li>Race:           {{page.cardRace}}</li>
                <li>Cost:           {{page.cardCost}}</li>
                <li>Health:         {{page.cardHealth}}</li>

                <li>Attack:         {{page.cardAttack}}</li>
                <li>Flavor:         {{page.cardFlavor}}</li>
                <li>Set:         {{page.cardSet}}</li>
            </ul>
        </div>
    </div>
</div>
-->

<!-- SHOW CARDS GRID -->
<div class="row">
    <div ng-repeat="n in cardsOnDisplay track by $index">
        
        <div class="medium-3 columns">
            {{n.name}}
            <img class="cardStyle" src={{n.img}} ng-click="addToDeck($index)">
        </div>
    
    </div>
</div>